# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.migrate_in_place
.artifacts/

# IntelliJ project files
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code project files
.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android rules
.gradle/
captures/
local.properties
GeneratedPluginRegistrant.java
.cxx/
app/libs/
*.apk
*.aab

# iOS / macOS rules
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.fls
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Pods/
**/ios/.symlinks/
**/ios/profile/
**/ios/Debug/
**/ios/Release/

# Sensitive keys and secrets
key.properties
*.keystore
*.jks
*.p12
*.mobileprovision
.env
.env.*
